indent = 4
# line-length = 80 
whitespace = 4 
whitespace-comma = true 
whitespace-assignment = true 
whitespace-decl = true
whitespace-relational = true 
whitespace-logical = true 
whitespace-plusminus = true 
whitespace-multdiv = true 
whitespace-print = true 
whitespace-type = true 
whitespace-intrinsics = true 
strict-indent = true 
enable-decl = true 
disable-indent = false 
disable-whitespace = false 
enable-replacements = false 
c-relations = false 
case = [1, 1, 1, 1]
strip-comments = false 
disable-fypp = false 
disable-indent-mod = false 
diff = false 
stdout = false 
silent = false 
recursive = true
