# enable recursive globbing
shopt -s globstar

# binaries
**.mod
**.o
**spindec**

# modules
# src/comms.f90

# program generated
**.cpf
**.cp
**.nc
test/test_bin/*.txt

# Libraries
fftw*

# others 
**.tmp
